body {
  margin:0px;
}

ul {
    list-style: none;
    padding:0px;
    margin:0px;
}

.navbar {
  min-height: 15vh;
}

.column.main > footer{
  min-height: 10vh;
}

.column {
  float: right;
  display: flex;
  flex-direction: column;
  }


.column.sidebar {
  width: 15%;
  min-height: 100vh;
}

.column.main {
  width: 85%;
  min-height: 100vh;
}
